.headerwrapper{
    background-color:saddlebrown;
    width:970px;
    height:1080px;
}



.headerwrapper img{
    width:auto;
    height:400px;
    display:inline-block;
}



.headerwrapper header{
    width:870px;
    margin: 0px 50px 0px 50px;
}



.bodywrapper{
    background-color:sandybrown;
    width:870px;
    margin: 0px 50px 0px 50px;
    border:4px dotted sienna;
}